# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.env/

# Distribution / packaging
dist/
build/

# Logs
*.log

# Node dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db